.painel {
  width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}
.navigationPainel {
  width: 300px;
  height: 100vh;
  background-color: #6366f1;
  position: fixed;
  color: #fff;
}

.topMenu {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 5rem;
}
.btnClose {
  display: flex;
  background-color: transparent;
  box-shadow: none;
  color: #fff;

  border: none;
}
.menu {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
.menu li {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
}
.icon {
  vertical-align: middle;
}
.menu li:hover,
.configOpt:hover {
  background-color: #5046e4;
}
.configOpt {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
.navigationPainel img {
  width: 3rem;
}
.containerPainel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.headerPainel {
  width: calc(100% - 300px);
  position: fixed;
  background-color: white;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
li {
  text-decoration: none;
}
.active {
  background-color: #5046e4;
}
li a {
  color: #fff;
  text-decoration: dashed;
}
.initialHeader {
  display: flex;
  gap: 2rem;
  align-items: center;
}
i {
  font-size: 1.2rem;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  display: none;
}
.search input {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60%;
  min-width: 300px;
}
.barH {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
}
.menuProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profileHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profileHeader span {
  align-items: center;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.profileHeader span i {
  align-items: center;
  display: flex;
  width: 10px;
}
.miniatureProfile {
  width: 40px;
  height: 40px;
  background-color: #c1c1c1;
  border-radius: 50%;
}
.mainPainel {
  width: 100%;
  margin-top: 75px;
}
.container {
  width: 100%;
  background-color: #f1f1f1;
  min-height: 92vh;
}
.pageTitle {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.containerMain {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dash-relatory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;

  box-sizing: border-box;
}
.dash {
  min-width: 300px;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}
.dash h2 {
  margin-top: 1rem;
  font-weight: lighter;
  font-size: 1.3rem;
}
.dash span {
  font-weight: bold;
  font-size: 2rem;
}
.selectTransation {
  display: inline-block; /* Garante que o tamanho se ajuste ao conteúdo */
  width: 100px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white; /* Cor do texto */
  font-size: 0.875rem; /* Tamanho do texto */
  font-weight: 500; /* Peso do texto */
  border-radius: 50px; /* Torna as bordas arredondadas */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
.option {
  width: 50%;
  display: inline-block; /* Garante que o tamanho se ajuste ao conteúdo */
  padding: 0.5rem 1rem; /* Espaçamento interno */
  background-color: #6366f1; /* Cor de fundo */
  text-transform: uppercase;
  color: white; /* Cor do texto */
  font-size: 0.875rem; /* Tamanho do texto */
  font-weight: 500; /* Peso do texto */
  border-radius: 50px; /* Torna as bordas arredondadas */
  text-align: center; /* Centraliza o texto */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.compra {
  text-align: start;
}
.venda {
  text-align: end;
}
.mainHeader {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.headerSelectTransation {
  display: flex;
  justify-content: space-between;
}
.fa-search-gray {
  color: #cccccc;
}
.fa-plus-green {
  color: #31b355;
}
.inputSelectTransation {
  display: flex;
  align-items: center;
}
.inputSelectTransation label {
  width: 20%;
  max-width: 100px;
}
.inputSelectTransation i {
  width: 10%;
}

.inputGroupTransation {
  border-bottom: 1px solid #cccccc;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;
  position: relative;
}
.inputGroupTransation input {
  border: none;
  width: 95%;
  padding: 0.5rem;
  background-color: transparent;
}
.inputboxTransation:focus {
  outline: none;
}
.inputFocus {
  border-bottom: 1px solid rgb(128, 198, 247);
}
.listSearch {
  width: 95%;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto; /* Permite rolagem vertical */
  scrollbar-width: thin;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
.listSearch ul {
  list-style: none;
}
.listSearch ul li {
  cursor: pointer;
  padding: 0.2rem;
}
.listSearch ul li:hover {
  background-color: #f1f1f1;
}
.pSelected {
  background-color: #f1f1f1;
  border-radius: 4 px;
  margin-bottom: 1px;
  padding: 0.3rem;
  align-items: center;
}
.pSelected i {
  font-size: 0.6rem;
  font-weight: bolder;
  color: #5046e4;
  margin-left: 3px;
}
.btn {
  background-color: #6366f1;
  border: none;
  border-radius: 4px;
  color: #fff;
}
.btn:hover {
  background-color: #6365f1b1;
}
.headerOrders {
  padding: 1rem;
}
.mainOrders {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: scroll;
}
.listOrders {
  width: 100%;
}

.listOrders tr td,
th {
  padding: 0.5rem;
}
.listOrders tr:nth-child(odd) {
  background-color: #fcf6f6;
}
.listOrders tr td span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.td-pago {
  background-color: #31b355;
  color: #fff;
}
.td-pendente {
  background-color: #e3c733;
  color: #fff;
}
.td-atrasado {
  background-color: red;
  color: #fff;
}
.td-status {
  text-align: center;
}
.titleMain i {
  margin-right: 10px;
}
.titleMain i:hover {
  color: #3e36bb;
}
.titleMain {
  display: flex;
  text-align: center;
  padding: 1rem;
  color: #5046e4;
}
.data-order {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed #cccccc;
}
.data-order span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 4px;
}
span i {
  font-size: 1rem;
  text-align: center;
  margin-left: 0.5rem;
}
.headerOrderForm {
  padding: 1rem;
}

.headerOrderForm form {
  display: flex;
  flex-direction: column;

  gap: 5px;
}
.headerOrderForm form .campo {
  display: flex;
  flex-direction: column;
}
.headerOrderForm form button {
  text-align: center;
}

.campo {
  width: 100%;
}
.campo-search {
  display: flex;
  width: 100%;
  border: 1px solid #c1c1c1;
  border-style: none none solid none;
}
.campo-search i {
  display: flex;
  align-items: center;
  color: #ccc;
  font-size: 1rem;
}
.campo-search input {
  width: 100%;
  border: none;
  text-indent: 0.5rem;
  outline: none;
  padding: 0.7rem;
  background-color: transparent;
}
.headerMateriais select {
  border-bottom: 1px solid #ccc;

  background-color: transparent;
  padding: 0.4rem;
  color: #a5a4a4;
}
label {
  font-weight: bolder;
}
.campo input {
  padding: 0.5rem;
}

.campo .input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.campo input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.c-large {
  position: relative;
}
.listaMateriais {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  position: absolute;
  width: 100%;
  margin-top: 3.5rem;
}
.listaMateriais ul {
  list-style: none;
}
.listaMateriais ul li {
  padding: 0.3rem;
}
.listaMateriais ul li:hover {
  background-color: #eae9e9cc;
}
.c-small {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.c-small button {
  background-color: #31b355;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
table .sm-hidden {
  display: none;
}
.tableOrder table,
table {
  width: 100%;
  border-collapse: collapse;
}
table .material {
  width: 50%;
}
.tableOrder tbody tr:nth-child(odd) {
  background-color: #e9e9ff;
}
.tableOrder tbody tr:nth-child(even) {
  background-color: #f8f8ff;
}
tbody td {
  text-align: center;
  border: 1px solid #f1f1f1;
  padding: 0.4rem;
}
td.material {
  text-align: start;
}
.info-material {
  display: flex;
  flex-direction: column;
}
.info-material p {
  font-size: 0.7rem;
}
td.text {
  text-align: end;
  text-transform: uppercase;
}
tfoot td {
  padding: 0.4rem;
  text-align: center;
  font-weight: bolder;
}
.td-ativo {
  border: 1px solid #f1f1f1;
}
.text {
  text-align: center;
}
.green {
  background-color: #31b355;
}
.green:hover {
  background-color: #2a9a4a;
}
.red {
  background-color: red;
}
.red:hover {
  background-color: rgb(192, 2, 2);
}
.btn-actions {
  justify-content: center;
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.container-foot-btns {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  display: flex;
}
.headerMateriais {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 1rem;

  justify-content: flex-start;
}

@media screen and (max-width: 926px) and (min-width: 473px) {
}
@media screen and (min-width: 800px) {
  table .sm-hidden {
    display: block;
  }
  .btn-actions {
    flex-direction: row;
  }
  .container-foot-btns {
    flex-direction: row;
  }
  .campo-search {
    width: 40%;
    max-width: 400px;
    min-width: 250px;
  }
  .headerMateriais {
    flex-direction: row;
    gap: 1rem;
  }
  .headerMateriais .campo {
    max-width: 250px;
  }
}
@media screen and (min-width: 926px) {
  .headerOrderForm form {
    flex-direction: row;
    justify-content: space-between;
  }

  .c-large {
    width: 50%;
  }
  .navigationPainel {
    display: block;
  }
  .search {
    display: block;
  }
  .dash {
    width: 40%;
  }
  .c-small {
    width: auto;
  }
}
@media screen and (min-width: 1201px) {
  .dash {
    width: 23%;
  }
}
